/*=========================================
FOOTER
=========================================*/

.footer{

background:#0F172A;

color:#fff;

padding:90px 0 30px;

}

.footer-grid{

display:grid;

grid-template-columns:2fr 1fr 1fr 1.5fr;

gap:45px;

margin-bottom:60px;

}

.footer-logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}

.footer-logo img{

width:55px;

}

.footer-logo h2{

font-family:Poppins;

font-size:30px;

}

.footer-column p{

line-height:30px;

color:#CBD5E1;

margin-bottom:25px;

}

.footer-column h3{

margin-bottom:25px;

font-size:22px;

font-family:Poppins;

}

.footer-column ul{

padding:0;

margin:0;

}

.footer-column ul li{

list-style:none;

margin-bottom:16px;

}

.footer-column ul li a{

color:#CBD5E1;

transition:.3s;

}

.footer-column ul li a:hover{

color:#FF6B00;

padding-left:8px;

}

.contact-info li{

display:flex;

gap:12px;

align-items:flex-start;

color:#CBD5E1;

}

.contact-info i{

color:#FF6B00;

margin-top:4px;

min-width:20px;

}

.social-links{

display:flex;

gap:15px;

}

.social-links a{

width:45px;

height:45px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#1E293B;

color:#fff;

transition:.3s;

}

.social-links a:hover{

background:#FF6B00;

transform:translateY(-5px);

}

.newsletter{

margin:50px 0;

padding:35px;

background:#1E293B;

border-radius:20px;

display:flex;

justify-content:space-between;

align-items:center;

gap:25px;

}

.newsletter h3{

font-family:Poppins;

margin-bottom:8px;

}

.newsletter p{

color:#CBD5E1;

}

.newsletter form{

display:flex;

gap:15px;

flex:1;

justify-content:flex-end;

}

.newsletter input{

max-width:350px;

width:100%;

padding:16px 20px;

border:none;

border-radius:50px;

outline:none;

}

.newsletter button{

padding:16px 28px;

border:none;

border-radius:50px;

background:#FF6B00;

color:#fff;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.newsletter button:hover{

background:#0F4C81;

}

.footer-bottom{

padding-top:30px;

border-top:1px solid rgba(255,255,255,.1);

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

gap:20px;

}

.footer-bottom p{

color:#94A3B8;

}

.footer-bottom a{

margin-left:20px;

color:#94A3B8;

transition:.3s;

}

.footer-bottom a:hover{

color:#FF6B00;

}